extends layout

block content
	form(method="post", action="/add", target="_self")
		h1 Создать новый модуль
		div.buttons-wrapper
			label(for="module") Название
			input(type="text", name="module", class="text-input", placeholder="Введите здесь", required="on", spellcheck="false")
		p.text Перед добавлением убедитесь, что:
		ul.text
			li Все пары "термин<разделитель>значение" имеют разделитель
			li Каждая пара начинается с новой строки
			li Нет переносов строк
		textarea(name="text", class="text-area", required="on", spellcheck="false", placeholder="Скопируйте сюда текст модуля")
		div.buttons-wrapper
			input(type="submit", value="Добавить", class="button")
			a(class="button", href="/") Отмена