extends layout
block content
	if todoes.length == 0
		p Todoes was not found
		p To delete todo create it - 
			a(href='/create') Create
	else if todoes.length == 1
		h2 Delete todo
		form(method="post", action='/delete')
			each todo, index in todoes
				p Delete todo with text 
					input(hidden, name='todo', value=todo)
					input(hidden, name='type', value="single")
					span 
						strong '#{todo}'


			input(type='submit', value='Delete')
	else
		h2 Delete todo
		form(method="post", action='/delete')
			each todo, index in todoes
				div
					input(type='checkbox', name='todoes', value=index)
					label=todo
			input(hidden, name='type', value="list")
			input(type='submit', value='Delete')