doctype html
html(lang="ru")
	head 
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Квизлет
		link(rel='stylesheet', href='/styles/main.css')
	body
		nav
			a(href="/", class='nav-link') Главная
			a(href="/study/select", class='nav-link') Тесты
			//- a(href="http://192.168.50.92:5173/", class='nav-link') Карточки

		main
			block content
		block scripts