extends layout

block content
	form(method="get", action="/study/run")
		h1 Заучивание
		if modules.length != 0
			p Выберите модуль для заучивания
			- let i = 0
			each m in modules
				div.buttons-wrapper
					if modules.length == 1
						input(type="radio", value={m}, name="selected", id=i)
					else
						input(type="radio", value={m}, name="selected", id=i)
					label(for=i) #{m}
				- i++
			p Варианты ответа:
				div.buttons-wrapper
					input(type="radio", value="tatar", name="type", id="terms", checked)
					label(for="terms") Термины
				div.buttons-wrapper
					input(type="radio", value="russian", name="type", id="definitions", disabled)
					label(for="definitions") Определения
			div.buttons-wrapper
				input(type="submit", value="Выбрать", class="button")
				a(class="button", href="/") Отмена
		else
			p Модулей нет. Чтобы перейти в режим заучивания, создайте новый модуль
			div.buttons-wrapper
				a(href='/add', class="button") Создать

block scripts
	script(src="/scripts/click-label.js")